*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:darkslategray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif', 'copperplate';
    height:100%;
    font-family: 'Fantasy';
}
#header {
    background-color:rgb(51, 46, 46);
    padding: 25px;
    height: 80px;
   
}
#header h1{
    font-weight: bold;
    font-size: 35px;
    color:cornsilk;
    display: inline;
    margin: 0 30px;
}
#navigation{
    float: right;
    padding-bottom: 30px;
    font-size: 20px;
}
#navigation ul li{
    display:inline-block
}
#navigation ul li a{
    text-decoration: none;
    color:cornsilk;
    padding: 25px;
}
#jumbo{
    height: 500px;
    width: 100%;
    background-image: url('./images/Mountainbackground.jpg');
    background-size: cover;
    background-position: center;
}

/* MY BIO SECTION */
#mybio{
    margin: 50px;
    height: 400px;
    width:75%;
}
#mybio h1{
    padding-top:0px;
    text-align:top;
}
#aboutme{
margin: 20px;
padding: 50px;
background-color: darkslategray;
height: 400px;
display:inline-block;
width: 1600px;
}
#aboutme p{
    float:left;
    font-size: 25px;
    color:cornsilk;
    width: 75%;
    font: 'copperplate';
   
}
#aboutme img{
    margin-left: 25px;
    float: right;
    height:300px;
    width:300px;
    
}

/* MY WORK SECTION */
#My-Work{
width: 100%;
height:900px;
display:flex;
position:relative;

}
.flexall{
    margin: 50px;
    display:flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-around;
    width:80%;
    float:right;
}
.runbuddy{
    float:right;
    width: 60%;
    border-radius: 14px;
    border: 4px solid lightblue;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-inline-start: 50px;
    background-image: url('../css/images/RunBuddyClip.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    
}

.tipsy{
    width: 40%;
    border-radius: 14px;
    border: 4px solid lightblue;
    min-width: 40%;
    padding: 20px 0;
    min-height: 250px;
    margin-inline-start: 50px;
    background-image: url('../css/images/Letsgetbackground.jpg');
    background-size: cover;
    background-position: center;

}


.weather{
    width: 40%;
    border-radius: 14px;
    border: 4px solid lightblue;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    background-image: url('../css/images/Untitled.png');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
}
.password{
    width: 40%;
    border-radius: 14px;
    border: 4px solid lightblue;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    background-image: url('../css/images/password.png');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    margin-inline-start: 50px;
}
.work{
    width: 40%;
    border-radius: 14px;
    border: 4px solid lightblue;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    background-image: url('../css/images/workday.png');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
}
#ContactMe{
position:relative;
}
.thecontacts{
    margin-left: 400px;
}
.thecontacts nav ul li{
    display:inline;
    font-size: 35px;
    color:cornsilk;
    padding: 10px;
    text-decoration:none;
}
.thecontacts nav ul li a{
    text-decoration: none;
    
}

/* MEDIA QUERIES */

/* 1024px */
@media screen and (max-width: 1024px) {
    body {
      background-color: darkslategray;
    }
  
    main {
      width: 100%;
      padding: 20px;
    }
    #header,
    #jumbo,
    #mybio,
    #My-Work,
    #ContactMe {
      width: 100%;
    }
    #jumbo,
    #mybio,
    #My-Work,
    #ContactMe {
      margin-top: 30px;
    }
  }
  
  /* 780px*/
  @media screen and (max-width: 768px) {
    body {
      background-color:darkslategray;
    }
  
    main {
      width: 100%;
      padding: 20px;
    }
  
    #jumbo,
    #mybio,
    #My-Work,
    #ContactMe {
      width: 100%;
    }
  
    #mybio,
    #My-Work,
    #ContactMe {
      margin-top: 40px;
    }
  }
  
  /* 600px */
  @media screen and (max-width: 600px) {
    body {
      background-color: darkslategray;
    }
  
    main {
      width: 100%;
      padding: 20px;
    }
  
    #jumbo,
    #mybio,
    #My-Work,
    #ContactMe{
      width: 100%;
    }
  
    
    #mybio,
    #My-Work,
    #ContactMe {
      margin-top: 40px;
    }
  }
  
  /* 480px */
  @media screen and (max-width: 480px) {
    body {
      background-color:darkslategray;
    }
  
    main {
      width: 100%;
      padding: 20px;
    }
    #header,
    #jumbo,
    #mybio,
    #My-Work,
    #ContactMe {
      width: 100%;
    }
    #jumbo,
    #mybio,
    #My-Work,
    #ContactMe {
      margin-top: 40px;
    }
  }
  
  /* 300px */
  @media screen and (max-width: 300px) {
    body {
      background-color: darkslategray;
    }
  
    main {
      width: 100%;
      padding: 20px;
    }
  
    #jumbo,
    #mybio,
    #My-Work,
    #ContactMe {
      width: 100%;
    }
  
    #mybio,
    #My-Work,
    #ContactMe {
      margin-top: 40px;
    }
  }